<a href="https://colab.research.google.com/github/carighi/al_ml_workshop/blob/main/Introduction_to_Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Acknowledgement source: The content in this tutorial is based on Practical AI/ML for Computational Biology and Chemistry Workshop (June 13-17, 2022, UD) https://github.com/udel-cbcb/al_ml_workshop

#What is Pandas?
[Pandas](https://pandas.pydata.org/) is used to perform operations on both tabular and non-tabular types of data intuitively. It supports different types of operations such as joins and merging, and loading data from multiple sources. Once your data is in Pandas, a number of useful tasks can be perform, such as sorting, filtering, and aggregating values; joining tables together; reshaping and resizing datasets, adding/removing missing values, etc.

In [ ]:
#Installing pandas, already installed in Colab, but if you need here is the way to do it:
!pip install pandas

#Object creation

See the [introduction to data structures](https://pandas.pydata.org/docs/user_guide/dsintro.html#dsintro) section of Pandas documentation for details.

##Series
You can create a [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series) (One-dimensional ndarray with axis labels, including time series) as follows

In [ ]:
import pandas as pd
s = pd.Series([0.5, 0.75, 1.0, 1.25],
                 index=['a', 'b', 'c', 'd'])
s

To retrieve the value 1.00 then:

In [ ]:
import pandas as pd
s = pd.Series([0.5, 0.75, 1.0, 1.25],
                 index=['a', 'b', 'c', 'd'])
s['c']

You can create a [Series] by passing a list of values, letting pandas create a default integer index:

Note: Pandas primarily uses the value np.nan to represent missing data. The special value NaN (Not-A-Number) is used everywhere as the NA value. The advantage is that it can be stored with NumPyâ€™s float64 dtype. It can be used across the dtypes to detect NA values. See also Missing data section

In [ ]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

If you want to filter NA values, you can use notnull() as follows:

In [ ]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s[s.notnull()]

##DataFrame
You can create a [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame) (Two-dimensional, size-mutable, potentially heterogeneous tabular data) by passing a NumPy array, with a datetime index and labeled columns:

In [1]:
# Import pandas library
import pandas as pd

# initialize list elements
data = [10,20,30,40,50,60]

# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Numbers'])

# print dataframe.
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

### About pd.date_range
The pd.date_range function in Pandas is used to generate a sequence of dates within a specified range. It takes several parameters, but the most commonly used ones are:

    start: The date to start the sequence.
    end: The date to end the sequence.
    periods: The number of periods to generate.
    freq: The frequency of the dates in the sequence.

For example, if you want to generate a sequence of dates from March 6, 2022 to March 11, 2022, you could use:

pd.date_range(start='3/6/2022', end='3/11/2022')

Alternatively,
pd.date_range("20220306", periods=6)

This will return a DatetimeIndex with dates from March 6, 2022 to March, 2022, inclusive.

In [2]:
# Alternatively,Returns the range of equally spaced time points
dates = pd.date_range("20220306", periods=6)
dates

DatetimeIndex(['2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11'],
              dtype='datetime64[ns]', freq='D')

The 'freq' parameter specifies the frequency of the dates (default if not specified) in the index. 'D' stands for daily frequency, meaning the dates in the index are expected to increment by one day at a time.
DatetimeIndex can take a variety of string codes to specify different frequencies. Here are a few examples:

    'D' for calendar day frequency
    'B' for business day frequency
    'H' for hourly frequency
    'T' or 'min' for minutely frequency
    'S' for secondly frequency
    'L' or 'ms' for milliseconds
    'U' for microseconds
    'N' for nanoseconds
    'W' for weekly frequency

Exercise: Change the previous code to indicate 6 periods of monthly frequency

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

You can also create a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:

In [ ]:
#In the case below the DataFrame has columns of different types. Here's a brief explanation of each column in from dataFram below:
  #  "A": A column of float values, all set to 1.0.
  # "B": A column of timestamp values, all set to the date "2013-01-02".
  # "C": A column of float32 values, all set to 1. The index is a list of integers from 0 to 3.
  #"D": A column of int32 values, all set to 3.
  #"E": A column of categorical values with two categories: "test" and "train".
  #"F": A column of string values, all set to "foo".
#The resulting DataFrame df2 will have 4 rows (since the index ranges from 0 to 3) and 6 columns (A, B, C, D, E, F).

df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

The columns of the resulting DataFrame have different dtypes:

In [ ]:
df2.dtypes

#About the datatypes above:

### When would you use float64 over float32?
Remember that the main difference between float32 and float64 data types lies in their precision and range of values they can represent.

float32 is a single-precision floating-point format that uses 32 bits. It has a precision of about 7 decimal digits and its range is approximately 1.18e-38 to 3.4e38.

On the other hand, float64 is a double-precision floating-point format that uses 64 bits. It has a precision of about 15 decimal digits and its range is approximately 2.23e-308 to 1.80e308.

So, if you need more precision or a larger range, you would use float64. However, float64 uses more memory and computational resources than float32, so if memory or speed is a concern and the extra precision or range is not needed, float32 might be a better choice.

### Dates
'datetime64[ns]', means the dates are stored as 64-bit numpy datetime objects with a precision of nanoseconds.

#Viewing data

See [Essential basic functionality](https://pandas.pydata.org/docs/user_guide/basics.html#basics) section of Pandas documentation for details.

You can view the top and bottom rows of the frame:

In [ ]:
df.head(3) # first three rows

In [ ]:
df.tail(2) # last two rows

You can display the indexes and columns:

In [ ]:
df.index

In [ ]:
df.columns

**describe**() shows a quick statistic summary of your data:

In [ ]:
df.describe()

Transposing your data:

In [ ]:
df.T

[Sorting](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html) by axis:

In [ ]:
# The axis along which to sort. The value 0 identifies the rows, and 1 identifies the columns.
df.sort_index(axis=1, ascending=False) # Sort based on column label

[Sorting](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values) by values:

In [ ]:
df.sort_values(by="C") # Sort by 'C' column ascending

#Selection

See [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing) section of Pandas documentation for details.

Selecting a single column, which yields a Series, equivalent to df.A:

In [ ]:
df["A"] # Select 'A' column

Selecting via [], which slices the rows:

In [ ]:
df[0:4] # Select first 4 rows

In [ ]:
df["20220306":"20220310"] # Get "2022-03-06" through "2022-03-10" rows

##Selection by label

**loc** selects rows and columns with specific labels. **iloc** selects rows and columns at specific integer positions.

Getting a cross section using a label:

In [ ]:
dates

In [ ]:
df.loc[dates[0]] # Get row indexed by '2022-03-06'

Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ["A", "B"]] # Get 'A' and 'B' columns for all rows

Showing label slicing, both endpoints are included:

In [ ]:
df.loc["20220307":"20220309", ["A", "B"]] # # Get 'A' and 'B' columns for rows indexed by '2022-03-07' through '2022-03-09'

Reduction in the dimensions of the returned object:

In [ ]:
df.loc["20220308", ["A", "B"]] # Get 'A' and 'B' columns of '2022-03-08' row

Getting a scalar value:

In [ ]:
df.loc[dates[0], "A"] # Get value at dates[0] row and 'A' column.

Getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.at[dates[0], "A"]

##Selection by position
Selecting via the position of the passed integers:

In [ ]:
df.iloc[2] # Get all values of third row

By integer slices, similar to NumPy/Python:

In [ ]:
df

In [ ]:
df.iloc[3:5, 0:2] # Get values of 4 and 5 rows, 'A', 'B' columns

By lists of integer position locations, similar to the NumPy/Python style:

In [ ]:
df.iloc[[1, 2, 4], [0, 2]] # Get values of 2, 3, 5 rows, 'A', 'C' columns

Slicing rows explicitly:

In [ ]:
df.iloc[1:3, :] # Get values of 2 and 3 rows

Slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3] # Get values of 2 and 3 columns

 Getting a value explicitly:

In [ ]:
df.iloc[1, 1] # Get value at 2nd row and 2nd columns

Getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1, 1]

##Boolean indexing
Using a single columnâ€™s values to select data:

In [4]:
df[df["A"] > 0] # Get rows where 'A' columns is greater than 0

KeyError: 'A'

Using the isin() method for filtering:

In [ ]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"] # Add new column 'E'
df2

In [ ]:
df2[df2["E"].isin(["two", "four"])] # Get rows where the values in column 'E' is either "two" or "four"

##Setting
Setting a new column automatically aligns the data by the indexes:

In [5]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20220306", periods=6))
s1

2022-03-06    1
2022-03-07    2
2022-03-08    3
2022-03-09    4
2022-03-10    5
2022-03-11    6
Freq: D, dtype: int64

In [6]:
df["F"] = s1
df

   Numbers   F
0       10 NaN
1       20 NaN
2       30 NaN
3       40 NaN
4       50 NaN
5       60 NaN

Setting values by label:

In [7]:
df.at[dates[0], "A"] = 0 # Set the value at dates[0] and 'A' column to be 0
df

                     Numbers   F    A
0                       10.0 NaN  NaN
1                       20.0 NaN  NaN
2                       30.0 NaN  NaN
3                       40.0 NaN  NaN
4                       50.0 NaN  NaN
5                       60.0 NaN  NaN
2022-03-06 00:00:00      NaN NaN  0.0

Setting values by position:

In [ ]:
df.iat[0, 1] = 0 # Set the value at first row, second column to be 0
df

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df)) # Set the values at 'D' columns to be 5
df

#Missing data

See [Missing Data](https://pandas.pydata.org/docs/user_guide/missing_data.html#missing-data) section of Pandas documentation for details.

Pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

To drop any rows that have missing data:

In [ ]:
df1.dropna(how="any")

Filling missing data:

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are *NaN*:

In [ ]:
pd.isna(df1)

#Operations

See the [Flexible binary operations](https://pandas.pydata.org/docs/user_guide/basics.html#basics-binop) section of Pandas documentation for details.

##Stats
Operations in general exclude missing data.
Performing a descriptive statistic:

In [ ]:
df

In [ ]:
df.max(axis=0) # Get max of all columns

Same operation on the other axis:

In [ ]:
df.max(axis=1) # Get max of all rows

##Apply

Applying functions to the data:

In [ ]:
df.apply(np.cumsum) #Return cumulative sum over a DataFrame or Series axis.

In [ ]:
df.apply(lambda x: x.max() - x.min()) # Get the min-max differenes of columns

##String Methods
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them).

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

#Getting data in/out
##CSV
Writing to a csv file:

In [ ]:
df.to_csv("foo.csv")

Reading from a csv file:

In [ ]:
pd.read_csv("foo.csv")

##HDF5

HDF5 is a unique technology suite that makes possible the management of extremely large and complex data collections. If you want to know more about HDF5 format, please see [What is HDF5](https://support.hdfgroup.org/HDF5/whatishdf5.html) for details.

Reading and writing to HDFStores.

In [ ]:
df.to_hdf("foo.h5", "df")

Reading from a HDF5 Store:

In [ ]:
pd.read_hdf("foo.h5", "df")

##Excel

Reading and writing to MS Excel.

Writing to an excel file:

In [8]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

Reading from an excel file:

In [9]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])

            Unnamed: 0  Numbers   F    A
0                    0     10.0 NaN  NaN
1                    1     20.0 NaN  NaN
2                    2     30.0 NaN  NaN
3                    3     40.0 NaN  NaN
4                    4     50.0 NaN  NaN
5                    5     60.0 NaN  NaN
6  2022-03-06 00:00:00      NaN NaN  0.0